<!DOCTYPE html>
<html>
<head>
    <title>Promotion</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/search_box.js"></script>
    <script src="/editPromotion.js"></script>
    <style>
        td[data-field] input {
            height: 30px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <%- include('partials/sidebar') %>
    <div class="main_content">
        <div class="header" style="text-transform: uppercase;"><h2>Promotion <i class="fas fa-tags"></i></h2></div>
        <div class="info">
            <div class="table">
                <section class="table__header">
                    <h2>Redemption History</h2>
                    <div class="input-group">
                        <input type="search" id="searchData" name="searchData" placeholder="Search Data...">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </section>
                
                <table class="content-table">
                <thead>
                    <tr>
                        <th>ID <span class="icon-arrow">&#11014;</span></th>
                        <th>Name <span class="icon-arrow">&#11014;</span></th>
                        <th>Description <span class="icon-arrow">&#11014;</span></th>
                        <th>Expiration Date <span class="icon-arrow">&#11014;</span></th>
                        <th>Status <span class="icon-arrow">&#11014;</span></th>
                        <th>Point Cost <span class="icon-arrow">&#11014;</span></th>
                        <th>Edit / Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Use EJS syntax to iterate through promotions and generate table rows -->
                    <% promotions.forEach(promotion => { %>
                        <tr data-promo-id="<%= promotion.promo_id %>">
                            <td data-field="promo_id"><%= promotion.promo_id %></td>
                            <td data-field="promo_name"><%= promotion.promo_name %></td>
                            <td data-field="promo_description"><%= promotion.promo_description %></td>
                            <td data-field="expiration_date"><%= promotion.expiration_date %></td>
                            <td data-field="promo_status">
                                <div class="status <%= promotion.promo_status %>"><%= promotion.promo_status %></div>
                            </td>
                            <td data-field="promo_cost"><%= promotion.promo_cost %></td>
                            <td>
                                <button class="edit-button" onclick="editPromotion('<%= promotion.promo_id %>')">Edit</button>
                                <button class="delete-button" onclick="deletePromotion('<%= promotion.promo_id %>')">Delete</button>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
                </table>
             </div>
             
             <!-- Adding new promotion form -->
             <div class="table">
                <section class="table__header">
                    <h2>Add New Promotion</h2>
                </section>
                <form id="addPromotionForm" action="/promotion" method="POST">
                    <table class="content-table">
                        <tbody>
                            <tr>
                                <td><label for="promotionName">Promotion Name:</label></td>
                                <td colspan="3"><input type="text" name="promotionName" required></td>
                            </tr>
                            <tr>
                                <td><label for="promotionDescription">Description:</label></td>
                                <td colspan="3"><input type="text" name="promotionDescription" required></td>
                            </tr>
                            <tr>
                                <td><label for="pointsCost">Points Cost:</label></td>
                                <td>
                                    <input type="text" name="pointsCost" required>
                                </td>
                                <td><label for="expirationDate">Expiration Date:</label></td>
                                <td>
                                    <div class="input-with-calendar">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> <!-- Calendar icon --> <p>&nbsp</p>
                                        <input type="text" name="manualExpirationDate" id="manualExpirationDate" placeholder="MM/DD/YYYY">
                                    </div>
                                    <input type="date" name="expirationDate" id="expirationDate" style="display: none;" required>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="status">Status:</label></td>
                                <td>
                                    <label>
                                        <input type="radio" name="status" value="ACTIVE" checked>
                                        ACTIVE
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="status" value="INACTIVE">
                                        INACTIVE
                                    </label>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td> <!-- Empty cell for spacing -->
                                <td></td>
                                <td></td>
                                <td><button type="button" id="addPromotionButton">Add Promotion</button> </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>            
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addPromotionButton = document.getElementById('addPromotionButton');
        const promoTable = document.querySelector('.content-table tbody');

        addPromotionButton.addEventListener('click', function () {
            // Fetch the next available promotion ID from the server
            fetch('/getNextPromoID')
                .then(response => response.json())
                .then(data => {
                    const nextPromoID = data.nextPromoID;

                    // Get form input values
                    const promotionName = document.querySelector('input[name=promotionName]').value;
                    const promotionDescription = document.querySelector('input[name=promotionDescription]').value;
                    const pointsCost = document.querySelector('input[name=pointsCost]').value;
                    const expirationDate = document.querySelector('input[name=expirationDate]').value;
                    const status = document.querySelector('input[name=status]:checked').value;

                    // Create a new row for the table with the next available ID
                    const newRow = document.createElement('tr');
                    newRow.innerHTML = `
                        <td data-field="promo_id">${nextPromoID}</td>
                        <td data-field="promo_name">${promotionName}</td>
                        <td data-field="promo_description">${promotionDescription}</td>
                        <td data-field="expiration_date">${expirationDate}</td>
                        <td data-field="promo_status">
                            <div class="status ${status}">${status}</div>
                        </td>
                        <td data-field="promo_cost">${pointsCost}</td>
                        <td>
                            <button class="edit-button" onclick="editPromotion('${nextPromoID}')">Edit</button>
                            <button class="delete-button" onclick="deletePromotion('${nextPromoID}')">Delete</button>
                        </td>
                    `;

                    // Append the new row to the table
                    promoTable.appendChild(newRow);

                    // Clear the form fields
                    document.getElementById('addPromotionForm').reset();
                })
                .catch(error => {
                    console.error(error);
                });
        });
    });
</script>


</body>
</html>
