<!DOCTYPE html>
<html>
<head>
    <title>Reward</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="wrapper">
        <%- include('partials/sidebar') %>
        <div class="main_content">
            <div class="header" style="text-transform: uppercase;"><h2>Reward System <i class="fas fa-gift"></i></h2></div>
            <div class="info">
                <div class="chart-container">
                    <div class="customer-total">
                        <h3>TOTAL CUSTOMERS: <span id="totalCustomers">???</span></h3>
                    </div>
                    <div id="doughnut-chart-container">
                        <canvas></canvas>
                    </div>
                </div>

                <div class="table">
                    <section class="table__header">
                        <h2>Customer Reward Information</h2>
                        <div class="input-group">
                            <input type="search" id="searchData" name="searchData" placeholder="Search Data...">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </section>


                    <table class="content-table">
                        <thead>
                            <tr>
                                <th>First Name <span class="icon-arrow">&#11014;</span></th>
                                <th>Last Name <span class="icon-arrow">&#11014;</span></th>
                                <th>Phone Number <span class="icon-arrow">&#11014;</span></th>
                                <th>Last Visited Date <span class="icon-arrow">&#11014;</span></th>
                                <th>Current Points <span class="icon-arrow">&#11014;</span></th>
                                <th>Lifetime Points <span class="icon-arrow">&#11014;</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% customers.forEach(function(customer) { %>
                                <tr data-lifetime-points="<%= customer.lifetimePoints %>">
                                    <td><%= customer.firstName %></td>
                                    <td><%= customer.lastName %></td>
                                    <td><%= customer.phoneNumber %></td>
                                    <td><%= customer.lastVisit %></td>
                                    <td><%= customer.currentPoints %></td>
                                    <td><%= customer.lifetimePoints %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Add an event listener to the "Current Points" cells for editing
        document.querySelectorAll('.content-table tbody tr td:nth-child(5)').forEach(function (cell) {
            cell.addEventListener('click', function (e) {
                cell.setAttribute('contentEditable', true);
                cell.focus();
            });
        });
    
        // Add an event listener to save edited "Current Points" data
        document.querySelectorAll('.content-table tbody tr td:nth-child(5)').forEach(function (cell) {
            cell.addEventListener('blur', function (e) {
                cell.setAttribute('contentEditable', false);
            });
        });
        var categories = [
            { name: 'New', minPoints: 1, maxPoints: 2 },
            { name: 'At Risk', minPoints: 3, maxPoints: 4 },
            { name: 'Regular', minPoints: 5, maxPoints: 20 },
            { name: 'V.I.P', minPoints: 21, maxPoints: Infinity }
        ];
    
    </script>
      <script src="/piechart.js"></script>
      <script src="/search_box.js"></script>
</body>
</html>