<!DOCTYPE html>
<html>
<head>
    <title>Reward</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="wrapper">
        <%- include('partials/sidebar') %>
        <div class="main_content">
            <div class="header" style="text-transform: uppercase;"><h2>Customer Reward</h2></div>
            <div class="info">
                <div class="pie-chart-container">
                    <div class="customer-total">
                        <h2>Total Customers: <span id="totalCustomers">???</span></h2>
                    </div>
                    <div id="doughnut-chart-container">
                        <canvas id="customerDoughnutChart"></canvas>
                    </div>
                </div>
                <div class="filter">
                    <label for="filter">Filter by Lifetime Points:</label>
                    <select id="filter">
                        <option value="all">All</option>
                        <option value="1-2">1-2</option>
                        <option value="2-5">2-5</option>
                        <option value="5-10">5-10</option>
                        <!-- Add more filter options as needed -->
                    </select>
                </div>
                <div><h3>Customer Reward Information</h3></div>
                <table>
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th>Current Points</th>
                            <th>Lifetime Points</th>
                            <th>Last Visit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% customers.forEach(function(customer) { %>
                            <tr data-lifetime-points="<%= customer.lifetimePoints %>">
                                <td><%= customer.first_name %></td>
                                <td><%= customer.last_name %></td>
                                <td><%= customer.phone_number %></td>
                                <td><%= customer.current_points %></td>
                                <td><%= customer.lifetime_points %></td>
                                <td><%= customer.ci_date %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        var categories = [
          { name: 'New', minPoints: 1, maxPoints: 2 },
          { name: 'At Risk', minPoints: 3, maxPoints: 4 },
          { name: 'Regular', minPoints: 5, maxPoints: 20 },
          { name: 'V.I.P', minPoints: 21, maxPoints: Infinity }
        ];
      </script>
      <script src="/piechart.js"></script>
</body>
</html>